{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href={% static 'bootstrap/css/bootstrap.min.css' %} rel="stylesheet" type="text/css"/> 
    <link href={% static 'css/base.css' %} rel="stylesheet" type="text/css"/> 
    {% block css %} 
    {% endblock css %}
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block javascript %}
    {% endblock javascript %} 
    <title>{{title}}</title>
  </head>
  <body onload="pageOnLoad()">
    <div id="wrapper">
      <div id="info">IT 112 - HANK HE - FINAL PROJECT</div>
      <header>
        <ul class="nav-ul clean">
          {% for nav in navs %}
          <li class="nav-li" style="border-color:"><a href="{% url nav.url %}">{{nav.label}}</a></li>
          {% endfor %}
        </ul>
      </header>
      <main>{% block content %} {% endblock content %}</main>
      <footer>IT 112 W21 3180 - PYTHON WEB PROGRAMMING</footer>
    </div>
  </body>
</html>
